/* color pallet

English Green #19535f
Pine Green #0b7a75
Dark Vanilla #d7c9aa
Burnt Umber #7b2d26
Anti-Flash White #f0f3f5 

*/

.elu-indent {
   margin-left: 25px;
}

.englishgreen {
    color: #19535f;
}
.pinegreen {
    color: #0b7a75;
}
.vanilla {
    color: #d7c9aa;
}
.burntumber {
    color: #7b2d26;
}
.white {
    color: #f0f3f5;
}
.elu-background {
	background-color: #bebebe; /* grey */
	}
.elu-boxbg {
	background-color: white; /* white and inserted after box-info class*/
	padding: 5px;
	margin: 15px;
	}

 .wrap {
    float: left;  
    }

.elu-clearfix {
    overflow: auto;
     }
     
      
/* Here we define some styles that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
 
    .elu-left {
      background: white;
      width: 100%;
      height: auto;
      max-width: auto;
    
    } 
    .elu-right {
      background: white;
      width: 100%
      height: auto;
      max-width: 100%
      }
   
    .elu-clearfix {
       overflow: auto;
       }
    }

  